@model BankingAPI.Models.Transacciones

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Transacciones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaldoPosterior" class="control-label"></label>
                <input asp-for="SaldoPosterior" class="form-control" />
                <span asp-validation-for="SaldoPosterior" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuentaId" class="control-label"></label>
                <input asp-for="CuentaId" class="form-control" />
                <span asp-validation-for="CuentaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
